<!doctype html>
<html>
  <head>
    <title>Example application</title>
  </head>
  <body>
    <center>
      <div>
        {{ user['id'] }} : {{ user['name'] }} : {{ user['email'] }}
      </div>
      <div>
        <a href={{ url_for('edit_user', id=user['id']) }}>Edit user</a>
      </div>
      <div>
        <a href={{ url_for('delete_user', id=user['id']) }}>Delete user</a>
      </div>
      <div><a href={{ url_for('index') }}>MAIN PAGE</a></div>
      <div><a href={{ url_for('users') }}>USERS</a></div>
    </center>
  </body>
</html>